<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAleO3KI0nkx0fZPyKc3QPxoW0JIvNHSTc</string>
	<key>GCM_SENDER_ID</key>
	<string>407302523761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alerwann.azadelDaily</string>
	<key>PROJECT_ID</key>
	<string>azadel-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>azadel-diary.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407302523761:ios:9957fd5d1ba7522ec304d0</string>
</dict>
</plist>